.chat-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 56px);
  overflow: auto;

  scrollbar-width: thin;
}