.sticker-group-message-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sticker-group-message-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.sticker-group-message-row-item {
  &.--small {
    >.sticker-message-content {
      width: 90px;
      height: 90px;
    }
  }
}

.sticker-message-content {
  width: 130px;
  height: 130px;
}

.sticker {
  width: 100%;
  height: 100%;
}

.sticker>.sticker__thumb {
  width: 100%;
  height: 100%;
}

.sgm-row-item-appear,
.sgm-row-item-enter {
  opacity: 0;
  transform: translateY(100%);
}
.sgm-row-item-appear-active,
.sgm-row-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.sgm-row-item-appear-done,
.sgm-row-item-enter-done {
  opacity: 1;
  transform: none;
}